@import 'bourbon/bourbon';
/* \$visual-grid: true; */
@import 'neat/neat';

$tablet: new-breakpoint(max-width 850px 8);
$mobile: new-breakpoint(max-width 500px 4);


$buttons: '.btn-whole', '.btn-quarter', '.btn-third';

* {
  box-sizing: border-box;
}

body {
  background-color: #022467;
}

.container {
  @include outer-container();

  position: relative;
  border-radius: 20px;
  box-shadow: 0 6px 3px #022467;
  background-color: #074a96;
  padding: 25px 5px;
  overflow: hidden;

  &:before {
    position: absolute;
    right: -70px;
    bottom: 25px;
    transform: rotate(-30deg);
    box-shadow: inset 2px 2px 5px #aaa;
    width: 250px;
    height: 20px;
    text-align: center;
    text-shadow: #ddd 1px 1px;
    color: #eee;
    font-family: $helvetica;
    content: 'MARTINO-87';
  }
}

.display {
  @include span-columns(10);
  @include shift(1);
  @include omega();

  position: relative;

  .display-text {
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 40px;
  }

  .display-hist {
    position: absolute;
    top: 0;
    right: 5px;
    margin-top: 2px;
    text-align: right;
    font-size: 12px;
  }
}

.scientific {
  @include shift(1);
  @include span-columns(3);

  @include media($tablet) {
    @include shift(1);
    @include span-columns(3);
  }

  @include media($mobile) {
    display: none;
  }
}

.memory {
  @include span-columns(1);

  @include media($tablet) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }
}

.standard {
  @include shift(1);
  @include span-columns(4);

  @include media($tablet) {
    @include shift(0);
    @include span-columns(4);
    @include omega();
  }

  @include media($mobile) {
    @include span-columns(4);
    @include omega();
    padding: 0 4% 0 8%;
  }
}

.special-chars {
  @include span-columns(1);
  @include omega();

  @include media($tablet) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }
}

#{$buttons} {
  display: inline-block;
  margin: 5px;
  border-radius: 10%;
  box-shadow: -2px 2px 1px 3px #d9cfc8;
  background-color: #f5ece4;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: $helvetica;
  font-size: 20px;

  &:active {
    box-shadow: -2px 2px 1px 1px #d9cfc8;
  }
}

.btn-quarter {
  width: 21%;
}

.btn-third {
  width: 27%;
}

.btn-whole {
  width: 90%;
}

.dblwidth {
  border-radius: 5%;
  width: 45%;
}
