/* \$visual-grid: true; */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

body {
  background-color: #022467; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 6px 3px #022467;
  background-color: #074a96;
  padding: 25px 5px;
  overflow: hidden; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container:before {
    position: absolute;
    right: -70px;
    bottom: 25px;
    transform: rotate(-30deg);
    box-shadow: inset 2px 2px 5px #aaa;
    width: 250px;
    height: 20px;
    text-align: center;
    text-shadow: #ddd 1px 1px;
    color: #eee;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    content: 'MARTINO-87'; }

.display {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-right: 0;
  position: relative; }
  .display:last-child {
    margin-right: 0; }
  .display .display-text {
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 40px; }
  .display .display-hist {
    position: absolute;
    top: 0;
    right: 5px;
    margin-top: 2px;
    text-align: right;
    font-size: 12px; }

.scientific {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .scientific:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .scientific {
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 35.26334%; }
      .scientific:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .scientific {
      display: none; } }

.memory {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .memory:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .memory {
      display: none; } }
  @media screen and (max-width: 500px) {
    .memory {
      display: none; } }

.standard {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .standard:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .standard {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      margin-right: 0; }
      .standard:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .standard {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-right: 0;
      padding: 0 4% 0 8%; }
      .standard:last-child {
        margin-right: 0; } }

.special-chars {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-right: 0; }
  .special-chars:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .special-chars {
      display: none; } }
  @media screen and (max-width: 500px) {
    .special-chars {
      display: none; } }

.btn-whole, .btn-quarter, .btn-third {
  display: inline-block;
  margin: 5px;
  border-radius: 10%;
  box-shadow: -2px 2px 1px 3px #d9cfc8;
  background-color: #f5ece4;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 20px; }
  .btn-whole:active, .btn-quarter:active, .btn-third:active {
    box-shadow: -2px 2px 1px 1px #d9cfc8; }

.btn-quarter {
  width: 21%; }

.btn-third {
  width: 27%; }

.btn-whole {
  width: 90%; }

.dblwidth {
  border-radius: 5%;
  width: 45%; }

/*# sourceMappingURL=main.css.map */
